  <div class="login-container" layout layout-align="center center">
    <div layout="column" ng-class="teste">
      <div><img ng-src="images/logo.svg" width="80%"></div>
      <h2>Log in</h2>
      <md-input-container>
        <input name="username" type="text" ng-model="username" required placeholder="Email ou Usuário" aria-label="Email ou Usuário">
      </md-input-container>
      <md-input-container>
        <input name="password" type="password" ng-model="password" required placeholder="Password" aria-label="Password">
      </md-input-container>
      <div layout-align="center center">
        <md-button href= "#/status-da-simulacao" aria-label="Entrar" class="md-raised md-primary login-btn">
          Entrar
        </md-button>
      </div>
    </div>
  </div>